<div class="row">
    <div class="col-xs-12">
        <img src="{{recipeSelect.imagePath}}" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeSelect.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipeSelect.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-ingredients></app-ingredients>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-steps></app-steps>
    </div>
</div>

